@import '~vuetify/src/stylus/settings/_theme'

$font-size-root = 14px
$body-font-family = 'Microsoft Jhenghei' 

@import '~vuetify/src/stylus/main'

table.v-table
  thead
    th
      font-size: $font-size-root
  tbody
    td
      font-size: $font-size-root
